<!DOCTYPE html>
<html>

<head>
	<title>eHealthcare</title>
	<link rel="stylesheet" type="text/css" href="css/doctorDashboard.css">
  <!--- Font from google fonts --->
	<link href="https://fonts.googleapis.com/css?family=Assistant:600&display=swap" rel="stylesheet">
  <!--- Font Awesome is used for the email and password icons --->
  <script src="https://kit.fontawesome.com/d65ff00190.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <div id="sideMenu">
		<img src="img/dashboardTitle.png">
		<ul>
			<a href="/DoctorDashboard" class="link"><i class="fa fa-home"
			></i> Home</a>
			<a href="/ViewAppointments" class="link"><i class="fa fa-calendar-check"
			></i> Appointments</a>
			<a href="/Chat" class="link"><i class="fa fa-comment-alt"
			></i> Chat</a>
			<a href="#" class="link"><i class="fa fa-first-aid"
			></i> Urgent Cases</a>
			<a style="position: fixed; bottom: 0; left: 0.52rem" href="/logout" class="link"><i class="fa fa-sign-out-alt"
			></i> Logout</a>
		</ul>

	</div>

	<div id="dashboardArea">
		<div class="heading">
			<h1>Doctor Dashboard</h1>
			 <p>Welcome to eHealthCare</p>
			  <input type="submit" class="editBtn" value="Edit Profile">
		</div>

			<div class="slide">
					<div class="user-prof"></div>
					<img src="img/avatar.svg">
					<span class="user-name">Dr. <%= fName %> <%= sName%></span>
					<span class="user-email"><%= username%></span>
					<section class="slide-below">
							<h2>Specialisation: <%= specialisation %></h2>
							<h2>Education: <%= education %></h2>
							<h2>Experience: <%= experience %></h2>
					</section>
					<hr style="width:85%;margin-top:75px;">
			</div>

		</div>

		<div class="edit-profile">
				<section class="edit-content">
					<h2> Edit Profile </h2>
					<img src="img/times.svg" alt="Close" class="close">
					<hr>

					<img src="img/avatar.svg" class="avatar">
				<!---	<form action="/registration" method="post"> --->

					<h3 class="imgFile"> Change Profile Picture </h3>

						<div class="editfName">
							<label for="first-name">First Name</label>
							<input id="first-name" name="fName" type="text"
										 class="edit-input" value="<%= fName%>">
						</div>

						<div class="editlName">
							<label for="last-name">Last Name</label>
							<input id="last-name" name="sName" type="text"
										 class="edit-input" value="<%= sName%>">
						</div>

						<div class="editEmail">
							<label for="user">Email</label>
							<input id="user" name="username" type="email"
										 class="edit-input" value="<%= username%>">
						</div>

						<div class="editSpec">
							<label for="spec">Specialisation</label>
							<input id="spec" name="docSpec" type="text"
										 class="edit-input" value="<%= specialisation%>">
						</div>

						<div class="editEdu">
							<label for="edu">Education</label>
							<input id="edu" name="docEdu" type="text"
										 class="edit-input" value="<%= education%>">
						</div>

						<div class="editExp">
							<label for="exp">Experience</label>
							<textarea id="exp" rows="5" cols="5" name="docExp" type="text"
										 class="edit-input"><%= experience%></textarea>
						</div>

						<a href="#" class="changePass"> Change Password</a>

						<input type="submit" class="save-btn" value="Save Changes">


				<!---	</form> --->
			</section>
		</div>


</body>
<!---					<style>
table{
  width:100%;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 17.5px;
}
table#t01 tr:nth-child(even) {
  background-color: #792B98;
}
table#t01 tr:nth-child(odd) {
 background-color:;
}
table#t01 th {
  background-color: black;
  color: white;
}


</style>
</head>
<body>
<h1 style="text-align:center">Doctors Appointment</h1>

<p></p>

<table style="width:100%">
<table id="t01">
  <tr>
    <th>Patient's Name</th>
    <th>Age</th>
    <th>Medical History</th>
	<th>Date</th>
	<th>Time of appointment</th>

  </tr>
  <tr>
    <td>Tyrion Lannister</td>
    <td>23</td>
    <td>Mild Flu</td>
    <td>12-Nov-2020</td>
	<td>16:00</td>
  </tr>
  <tr>
    <td>Ramsay Bolton</td>
    <td>34</td>
    <td>Fire burn</td>
	<td>15-Dec-2020</td>
	<td>17:00</td>
  </tr>
  <tr>
    <td>cersie Lannister</td>
    <td>29</td>
    <td>back pain</td>
	<td>16-Dec-2020</td>
	<td>12:00</td>

  </tr>
</table> --->
<script type="text/javascript" src="js/doctorDashboard.js"></script>

</html>
