<!DOCTYPE html>
<html>

<head>
	<title>eHealthcare</title>
	<link rel="stylesheet" type="text/css" href="css/patientDashboard.css">
  <!--- Font from google fonts --->
	<link href="https://fonts.googleapis.com/css?family=Assistant:600&display=swap" rel="stylesheet">
  <!--- Font Awesome is used for the email and password icons --->
  <script src="https://kit.fontawesome.com/d65ff00190.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="sideMenu">
		<img src="img/dashboardTitle.png">
		<ul>
			<a href="/PatientDashboard" class="link"><i class="fa fa-home"
			></i> Home</a>
			<a href="/booking" class="link"><i class="fa fa-calendar-check"
			></i> Book An Appointment</a>
			<a href="#" class="link"><i class="fa fa-clock"
			></i> Schedule</a>
			<a href="/OurDoctors" class="link"><i class="fa fa-user-nurse"
			></i> Our Doctors</a>
			<a href="#" class="link"><i class="fa fa-first-aid"
			></i> Urgent Cases</a>
			<a href="#" class="link"><i class="fa fa-question-circle"
			></i> FAQ</a>
			<a style="position: fixed; bottom: 0; left: 0.52rem" href="/logout" class="link"><i class="fa fa-sign-out-alt"
			></i> Logout</a>
		</ul>

	</div>

	<div id="dashboardArea">
		<div class="heading">
			<h1>Patient Dashboard</h1>
			 <p>Welcome to eHealthCare</p>
				 <input type="submit" class="editBtn" value="Edit Profile">
		</div>

		<div class="slides">

			<div class="slide">
					<div class="user-prof"></div>
					<img src="img/avatar.svg">
					<span class="user-name"><%= fName %> <%= sName%></span>
					<span class="user-email"><%= username%></span>
					<hr>
					<div class="below">
						<p class="med-no">Medicare Number: <%= medicareNo %></p>
					  <p class="med-irn">Medicare Expiry: <%= medicareExpiry %></p>
						<p class="med-irn">Medicare IRN: <%= medicareIRN %></p>
					</div>
			</div>

			<div class="slide-below">
					<div class="schedule"></div>
					<h1> Appointment Schedule</h1>
			</div>

			<div class="slide-below">
					<div class="Patient History"></div>
					<style>
table{
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
table#t01 tr:nth-child(even) {
  background-color: violet;
}
table#t01 tr:nth-child(odd) {
 background-color:;
}
table#t01 th {
  background-color: black;
  color: white;
}


</style>
</head>
<body>

<h2>Patient Medical History</h2>
<p></p>

<table style="width:100%">
<table id="t01">
  <tr>
    <th>Patient's Name</th>
    <th>Age</th> 
    <th>Medical History</th>
	<th>Date</th>
	<th>Consulting Doctor</th>
	<th>prescription</th>
  </tr>
  <tr>
    <td>Tyrion Lannister</td>
    <td>23</td>
    <td>Mild Flu</td>
    <td>12-Nov-2020</td>
	<td>Dr.House</td>
	<td>anti depressants</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>cough</td>
	<td>16-Sept-2020</td>
	<td>Dr.Meredith grey</td>
	<td>Cough syrup</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>fever</td>
	<td>15-Aug-2020</td>
	<td>Dr.Alex williams</td>
	<td>panadol</td>
  </tr>
</table>

					<h1> Something else?</h1>
			</div>

		</div>

		<div class="edit-profile">
				<section class="edit-content">
					<h2> Edit Profile </h2>
					<img src="img/times.svg" alt="Close" class="close">
					<hr>

					<img src="img/avatar.svg" class="avatar">
				<!---	<form action="/registration" method="post"> --->

				  <h3 class="imgFile"> Change Profile Picture </h3>

						<div class="editfName">
							<label for="first-name">First Name</label>
							<input id="first-name" name="fName" type="text"
										 class="edit-input" value="<%= fName%>">
						</div>

						<div class="editlName">
							<label for="last-name">Last Name</label>
							<input id="last-name" name="sName" type="text"
										 class="edit-input" value="<%= sName%>">
						</div>

						<div class="editEmail">
							<label for="user">Email</label>
							<input id="user" name="username" type="email"
								     class="edit-input" value="<%= username%>">
						</div>

						<div class="editMedNo">
							<label for="med-no">Medicare Number</label>
							<input id="med-no" name="medicareNo" type="text"
										 class="edit-input" value="<%= medicareNo%>">
						</div>

						<div class="editMedIRN">
							<label for="med-irn">Medicare IRN</label>
							<input id="med-irn" name="medicareIRN" type="text"
										 class="edit-input" value="<%= medicareIRN%>">
						</div>

						<div class="editMedDate">
							<label for="med-date">Medicare IRN</label>
							<input id="med-date" name="medicareExpiry" type="date"
										 class="edit-input" value="<%= medicareExpiry%>">
						</div>

						<a href="#" class="changePass"> Change Password</a>

						<input type="submit" class="save-btn" value="Save Changes">


				<!---	</form> --->
			</section>
		</div>

	<script type="text/javascript" src="js/patientDashboard.js"></script>

</body>

</html>
